@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.header {
  border-top: solid 1px black;
  height: 13vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ff9b49; }

.logo {
  font-family: 'Courier New', Courier, monospace;
  color: black;
  align-self: center;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none; }

.logo:hover {
  color: black; }

.lista-nav {
  list-style: none;
  display: flex;
  justify-content: space-around; }

.link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: -40px; }

a.active {
  border-bottom: solid; }

.link:hover {
  color: white;
  border-bottom: solid 2px white; }

.corte {
  height: 60vh;
  width: 100vw; }

/*Seccion de horarios/index*/
.horarios {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 10%; }

.titulo_horarios {
  text-align: center;
  margin-top: 10%;
  font-size: 3rem; }

.dias {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 5% auto 0 auto;
  border-bottom: solid 1px white;
  font-size: 1.5rem;
  font-weight: 700; }

/*foto de la peluqueria*/
.peluqueria {
  background-image: url(../assets/IMG/fondo.jpg);
  padding: 10%; }

.foto_peluqueria {
  width: 85vw;
  height: 60vh;
  border-radius: 5%; }

/*seccion turno*/
.turno {
  background-color: black;
  color: white;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
  padding-top: 5%; }

.titulo_turno {
  text-align: center;
  font-size: 2.5rem; }

.parrafo_turno {
  width: 85%;
  margin: 5% auto 0 auto;
  border-bottom: solid 1px white;
  font-size: 1.5rem;
  font-weight: 700; }

/*footer*/
.footer {
  background-color: #ff9b49;
  display: flex;
  flex-direction: column;
  padding-bottom: 3%; }

.logo_footer {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  font-weight: 700;
  margin-top: 5%;
  text-decoration: none;
  color: black; }

.logo_footer:hover {
  color: black; }

.parrafo_footer {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 1.2rem; }

.redes {
  margin: 7% 0px 7% 9%;
  width: 50%;
  font-size: 2rem; }

.redes_footer {
  margin: 2% 0px 0px 9%; }

.icono_footer {
  height: 45px;
  width: 45px;
  margin-right: 10px; }

.texto_icono {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: black; }

.texto_icono:hover {
  color: black; }

.main {
  background-color: black;
  color: white; }

/*pagina conocenos*/
.conocenos {
  background-color: rgba(0, 0, 0, 0.377);
  display: flex;
  justify-content: center;
  height: 50vh; }

.img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  object-fit: cover;
  background-color: #ff7e15; }

.info {
  position: absolute;
  text-align: center;
  color: black;
  top: 25%;
  left: 0%; }

.parrafo {
  width: 70%;
  margin: 0px auto 0px auto;
  font-size: 1.8rem;
  font-weight: 700; }

.servicios {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  padding-top: 8%;
  padding-bottom: 8%; }

.titulo_servicios {
  text-align: center;
  font-size: 3rem; }

.parrafo_servicios {
  font-size: 1.5rem;
  padding: 20px;
  width: 90%;
  margin: 0 auto; }

.item_servicios {
  border-bottom: solid 1px white;
  width: 80%;
  font-size: 1.5rem;
  margin: 8% auto 0px auto; }

/*pagina donde estamos*/
.ubicacion {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column; }

.ubicacion_titulo {
  margin: 5%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: solid 1px white; }

.ubicacion_mapa {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 70vh; }

.ubicacion_mapa iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

/*pagina galeria*/
.galeria {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white; }

.titulo_galeria {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 20px; }

.parrafo_galeria {
  width: 90%;
  margin: 10px auto;
  font-size: 1.2rem;
  font-weight: 700;
  border-bottom: solid 1px white; }

.imagenes_galeria {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding-bottom: 5%; }

.imagen {
  height: 65vh;
  width: 78vw;
  margin: 10% auto 20px auto;
  border-radius: 10%; }

/*pagina contacto*/
.formulario {
  height: 60vh;
  display: flex;
  flex-direction: column;
  color: white; }

.titulo_formulario {
  font-size: 3rem;
  border-bottom: solid 1px white;
  width: 80%;
  margin: 8% auto;
  text-align: center; }

#titulo1 {
  border-bottom: none; }

.parrafo_formulario {
  font-size: 1.5rem;
  width: 80%;
  height: 20%;
  margin: 0px auto 0px auto;
  border-bottom: solid 1px white; }

.tamañoForm {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  color: black; }

.boton {
  background-color: #ff593c;
  color: white;
  border: none;
  border-radius: 8%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  width: 12%;
  height: 5vh;
  position: relative;
  top: 20px;
  left: 77%; }

/*mediaquerys*/
@media screen and (max-width: 510px) {
  .header {
    height: auto; }
  .lista-nav {
    flex-direction: column; }
  .link {
    margin-left: 1%;
    display: inline-block;
    margin-bottom: 2%; }
  .corte {
    height: 48vh; }
  .foto_peluqueria {
    height: 48vh; }
  .info {
    top: 40%; }
  .imagen {
    height: 45vh; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lista-nav {
    width: 80%;
    margin: 0 auto; }
  .carousel {
    background-color: black;
    padding-top: 4%; }
  .corte {
    height: 60vh;
    width: 80%;
    margin: 0 auto;
    border-radius: 5%; }
  .titulo_horarios {
    margin-top: 3%;
    font-size: 3.5rem; }
  /*foto de la peluqueria*/
  .foto_peluqueria {
    width: 80vw;
    height: 60vh; }
  /*seccion turno*/
  .titulo_turno {
    margin-top: 6%;
    font-size: 3rem; }
  .parrafo_turno {
    width: 80%;
    margin: 3% auto 5% auto;
    text-align: center; }
  /*footer*/
  .logo_footer {
    font-size: 5rem;
    margin-top: 2%; }
  .parrafo_footer {
    font-size: 1.5rem; }
  .redes {
    margin: 2% auto;
    font-size: 2.5rem;
    text-align: center; }
  .redes_footer {
    margin: 1% auto;
    width: 50%; }
  .texto_icono {
    padding-left: 15%; }
  /*PAGINA GALERIA*/
  .parrafo_galeria {
    margin: 2% auto -5% auto;
    width: 85%; } }

@media screen and (min-width: 1025px) {
  .lista-nav {
    width: 55%;
    margin: 0 auto; }
  .carousel {
    background-color: black;
    padding-top: 2%; }
  .corte {
    height: 90vh;
    width: 60%;
    margin: 0 auto;
    border-radius: 5%; }
  .horarios {
    padding-bottom: 5%; }
  .titulo_horarios {
    margin-top: 5%;
    font-size: 4rem; }
  .dias {
    width: 60%;
    margin: 2% auto;
    font-size: 2rem; }
  /*foto de la peluqueria*/
  .peluqueria {
    padding: 5%; }
  .foto_peluqueria {
    height: 85vh; }
  /*seccion turno*/
  .turno {
    height: auto;
    padding-bottom: 4%; }
  .titulo_turno {
    margin-top: 2%;
    font-size: 4rem; }
  .parrafo_turno {
    font-size: 2rem;
    width: 70%;
    text-align: center; }
  /*pagina conocenos*/
  .conocenos {
    height: 70vh; }
  .img {
    background-color: black; }
  .info {
    top: 30%;
    left: 0%; }
  .parrafo {
    width: 80%;
    font-size: 3rem; }
  .servicios {
    padding-top: 5%;
    padding-bottom: 2%; }
  .titulo_servicios {
    font-size: 4rem; }
  .parrafo_servicios {
    font-size: 2rem;
    padding: 1%;
    width: 80%; }
  .item_servicios {
    width: 73%;
    font-size: 2rem;
    margin: 3% auto; }
  /*Pagina donde estamos*/
  .ubicacion_titulo {
    margin: 2%;
    font-size: 4rem; }
  .ubicacion_mapa {
    padding-bottom: 50%; }
  /*pagina galeria*/
  .titulo_galeria {
    font-size: 4rem;
    margin-top: 2%; }
  .parrafo_galeria {
    width: 80%;
    margin: 2% auto;
    font-size: 2rem;
    text-align: center; }
  .imagenes_galeria {
    padding-bottom: 2%;
    flex-direction: row; }
  .imagen {
    height: 70vh;
    width: 33vw;
    margin: 2% auto 5% auto; }
  /*pagina contacto*/
  .titulo_formulario {
    font-size: 4rem;
    margin: 3% auto; }
  .parrafo_formulario {
    font-size: 2rem;
    height: auto;
    border: none;
    width: 65%; }
  .tamañoForm {
    width: 65%;
    margin-top: 20px; }
  .boton {
    left: 70.5%; }
  /*footer*/
  .footer {
    padding-bottom: 1%; }
  .logo_footer {
    font-size: 5rem;
    margin-top: 2%; }
  .parrafo_footer {
    font-size: 1.5rem; }
  .redes {
    margin: 1% auto;
    font-size: 2.5rem;
    text-align: center;
    flex-direction: column; }
  .redes_footer {
    display: flex;
    margin: 0px auto 0px 16%;
    width: 70%; }
  .icono_footer {
    width: 58px;
    height: 58px;
    display: flex;
    flex-direction: column;
    margin: 0 auto; }
  .texto_icono {
    margin: 0 auto;
    text-align: center; } }

/*404*/
.contenedor_404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: #ff9b49; }

.titulo_404 {
  font-size: 4rem; }

.parrafo_404 {
  font-size: 3rem;
  font-weight: 700;
  margin: 1%; }

._404 {
  font-size: 5rem; }

.boton_404 {
  font-size: 1.7rem;
  background-color: transparent;
  border: none;
  border-radius: 5%; }

.boton_404:hover {
  background-color: #ff593c; }
