@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.header {
  border-top: solid 1px black;
  height: 13vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ff9b49; }

.logo {
  font-family: 'Courier New', Courier, monospace;
  color: black;
  align-self: center;
  font-size: 3rem;
  font-weight: 700; }

.lista-nav {
  list-style: none;
  display: flex;
  justify-content: space-around; }

.link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: -40px; }

.link:hover {
  color: white;
  border-bottom: solid 2px white; }

.corte {
  height: 60vh;
  width: 100vw; }

/*Seccion de horarios/index*/
.horarios {
  background-color: black;
  color: white;
  height: 55vh;
  display: flex;
  flex-direction: column; }

.titulo_horarios {
  text-align: center;
  margin-top: 8%;
  font-size: 3rem; }

.dias {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 5% auto 0 auto;
  border-bottom: solid 1px white;
  height: 7vh;
  font-size: 1.5rem;
  font-weight: 700; }

/*foto de la peluqueria*/
.peluqueria {
  background-image: url(../assets/IMG/fondo.jpg);
  padding: 10%; }

.foto_peluqueria {
  width: 70vw;
  height: 50vh;
  position: relative;
  left: 60px;
  border-radius: 5%; }

.cuadrado {
  border: solid 10px #ffbe46;
  width: 70vw;
  height: 50vh;
  position: absolute;
  top: 140%;
  left: 15%;
  border-radius: 5%; }

/*seccion turno*/
.turno {
  background-color: black;
  color: white;
  height: 32vh;
  display: flex;
  flex-direction: column; }

.titulo_turno {
  text-align: center;
  margin-top: 8%;
  font-size: 2.5rem; }

.parrafo_turno {
  width: 85%;
  margin: 5% auto 0 auto;
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: solid 1px white; }

/*footer*/
.footer {
  background-color: #ff9b49;
  display: flex;
  flex-direction: column;
  height: 70vh; }

.logo_footer {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 4em;
  font-weight: 700;
  margin-top: 5%; }

.parrafo_footer {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 1.2rem; }

.redes {
  margin: 7% 0px 7% 9%;
  width: 50%;
  font-size: 2rem; }

.icono_footer {
  height: 45px;
  width: 45px;
  margin-right: 10px; }

.texto_icono {
  margin: 3% 0px 0px 9%;
  font-size: 1.2rem;
  font-weight: 700; }

.main {
  background-color: black;
  color: white; }

/*pagina conocenos*/
.conocenos {
  background-color: rgba(0, 0, 0, 0.377);
  height: 40vh;
  display: flex;
  justify-content: center; }

.img {
  width: 100%;
  height: 100%;
  justify-self: center;
  opacity: 0.7; }

.info {
  position: absolute;
  top: 15%;
  text-align: center;
  color: black; }

.parrafo {
  width: 70%;
  margin: 0px auto 0px auto;
  font-size: 1.8rem;
  font-weight: 700; }

.servicios {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  height: 75vh;
  padding-top: 5%;
  padding-bottom: 5%; }

.titulo_servicios {
  text-align: center;
  font-size: 3rem; }

.parrafo_servicios {
  font-size: 1.5rem;
  padding: 20px;
  width: 95%;
  margin: 0 auto; }

.item_servicios {
  border-bottom: solid 1px white;
  width: 80%;
  font-size: 1.5rem;
  margin: 10px auto 0px auto; }

/*pagina donde estamos*/
.ubicacion {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column; }

.ubicacion_titulo {
  margin: 5%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700; }

.ubicacion_mapa {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 60vh; }

.ubicacion_mapa iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

/*pagina galeria*/
.galeria {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white; }

.titulo_galeria {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 20px; }

.parrafo_galeria {
  width: 90%;
  height: 10vh;
  margin: 10px auto;
  font-size: 1.2rem;
  font-weight: 700;
  border-bottom: solid 1px white; }

.imagenes_galeria {
  display: flex;
  flex-direction: column; }

.imagen {
  height: 55vh;
  width: 80vw;
  margin: 30px auto 20px auto;
  border-radius: 10%; }

/*pagina contacto*/
.formulario {
  height: 60vh;
  display: flex;
  flex-direction: column;
  color: white; }

.titulo_formulario {
  font-size: 3rem;
  text-align: center;
  margin-top: 5%; }

.parrafo_formulario {
  font-size: 1.5rem;
  width: 80%;
  height: 20%;
  margin: 20px auto 0px auto;
  border-bottom: solid 1px white; }

.tamañoForm {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  color: black; }

.boton {
  background-color: #ff593c;
  color: white;
  border: none;
  border-radius: 8%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  width: 12%;
  height: 5vh;
  position: relative;
  top: 20px;
  left: 77%; }
