@media  screen and (max-width: 510px){
    .header{
        height: auto;
    }
    .lista-nav{
        flex-direction: column;
    }
    .link{
        margin-left: 1%;
        display: inline-block;
        margin-bottom: 2%;
    }
    .corte{
        height: 48vh;
    }
    .foto_peluqueria{
        height: 48vh;
    }
    .info{
        top: 40%;
    }
    .imagen{
        height: 45vh;
    }
}
@media  screen and (min-width: 768px) and (max-width: 1024px) {
    .lista-nav{
        width: 80%;
        margin: 0 auto;
    }
    .carousel{
        background-color: black;
        padding-top: 4%;
    }
    .corte{
        height: 60vh;
        @include width80-center;
        border-radius: 5%;
    }
    .titulo_horarios{
        margin-top: 3%;
        font-size: 3.5rem;
    }
    /*foto de la peluqueria*/
    .foto_peluqueria{
        width: 80vw;
        height: 60vh;
    }
    /*seccion turno*/
    .titulo_turno{
        margin-top: 6%;
        font-size: 3rem;
    }
    .parrafo_turno{
        width: 80%;
        margin: 3% auto 5% auto;
        text-align: $center;
    }
    /*footer*/
    .logo_footer{
        font-size: 5rem;
        margin-top: 2%;
    }
    .parrafo_footer{
        font-size: 1.5rem;
    }
    .redes{
        margin: 2% auto;
        font-size: 2.5rem;
        text-align: center;  
    }
    .redes_footer{
        margin: 1% auto;
        width: 50%;
    }
    .texto_icono{
        padding-left: 15%;
    }
    /*PAGINA GALERIA*/
    .parrafo_galeria{
        margin: 2% auto -5% auto;
        width: 85%;
    }
}
@media screen and (min-width: 1025px) {
    .lista-nav{
        width: 55%;
        margin: 0 auto;
    }
    .carousel{
        background-color: black;
        padding-top: 2%;
    }
    .corte{
        height: 90vh;
        width: 60%;
        margin: 0 auto;
        border-radius: 5%;
    }
    .horarios{
        padding-bottom: 5%;
    }
    .titulo_horarios{
        margin-top: 5%;
        font-size: 4rem;
    }
    .dias{
        width: 60%;
        margin: 2% auto;
        font-size: 2rem;
    }
    /*foto de la peluqueria*/
    .peluqueria{
    padding: 5%;
    }
    .foto_peluqueria{
    height: 85vh;
    }
     /*seccion turno*/
     .turno{
        height: auto;
        padding-bottom: 4%;
     }
    .titulo_turno{
        margin-top: 2%;
        font-size: 4rem;
    }
    .parrafo_turno{
        font-size: 2rem;
        width: 70%;
        text-align: center;
    }
    /*pagina conocenos*/
    .conocenos{
        height: 70vh;
    }
    .img{
        background-color: black;
    }
    .info{
        top: 30%;
        left: 0%;
    }
    
    .parrafo{
        width: 80%;
        font-size: 3rem;
    }
    .servicios{
        padding-top: 5%;
        padding-bottom: 2%;
    }
    .titulo_servicios{
        font-size: 4rem;
    }
    .parrafo_servicios{
        font-size: 2rem;
        padding: 1%;
        width: 80%;
    }
    .item_servicios{
        width: 73%;
        font-size: 2rem;
        margin: 3% auto;
    }
    /*Pagina donde estamos*/
    .ubicacion_titulo{
        margin: 2%;
        font-size: 4rem;
    }
    .ubicacion_mapa{
        padding-bottom: 50%;
    }
    /*pagina galeria*/
    .titulo_galeria{
        font-size: 4rem;
        margin-top: 2%;
    }
    .parrafo_galeria{
        width: 80%;
        margin: 2% auto;
        font-size: 2rem;
        text-align: center;
    }
    .imagenes_galeria{
        padding-bottom: 2%;
        flex-direction: row;
    }
    .imagen{
        height: 70vh;
        width: 33vw;
        margin: 2% auto 5% auto;
    }
    /*pagina contacto*/
    .titulo_formulario{
        font-size: 4rem;
        margin: 3% auto;
    }
    .parrafo_formulario{
        font-size: 2rem;
        height: auto;
        border: none;
        width: 65%;
    }
    .tamañoForm{
        width: 65%;
        margin-top: 20px;
    }
    .boton{
        left: 70.5%;
    }
    /*footer*/
    .footer{
        padding-bottom: 1%;
    }
    .logo_footer{
        font-size: 5rem;
        margin-top: 2%;
    }
    .parrafo_footer{
        font-size: 1.5rem;
    }

    .redes{
        margin: 1% auto;
        font-size: 2.5rem;
        text-align: center;
        flex-direction: column;
    }
    .redes_footer{
        display: flex;
        margin: 0px auto 0px 16%;
        width: 70%;
    }
    .icono_footer{
        width: 58px;
        height: 58px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .texto_icono{
        margin: 0 auto;
        text-align: center;
    }
}