@import "mixins.scss";
@import "variables.scss";

.conocenos{
    background-color: rgba(0, 0, 0, 0.377);
    height: 40vh;
    display: flex;
    justify-content: center;
}
.img{
    width: 100%;
    height: 100%;
    justify-self: center;
    opacity: 0.8;
}
.info{
    position: absolute;
    top: 20%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: $negrita;
}
.peluqueriasyl{
    font-family: cursive;
    text-align: center;
    font-size: 2.7rem;
}
.parrafo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    margin: 20px auto 0px auto;
    font-size: 1.2rem;
    font-weight: 500;
    
}
.servicios{
    color: white;
    background-color: rgb(0, 0, 0);
}
#lista-Servicios{
    text-align: start;
}
.parrafo-Servicios{
    font-size: 1.2rem;
    padding: 15px;
}